<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% if title %}{{ title }} - {% endif %}ReaSpeech</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/bootstrap-icons.min.css" rel="stylesheet">
    <style>
      .navbar-brand img {
        height: 50px;
      }
    </style>
  </head>

  <body>
    <script src="/static/js/bootstrap.bundle.min.js"></script>

    {% include "nav.html" %}

    {% block content %}{% endblock %}

    <script>
      const reascriptLinks = document.querySelectorAll(".reascript-link");

      reascriptLinks.forEach((reascriptLink) => {
        const name = reascriptLink.dataset.name;
        const host = location.host;
        const protocol = location.protocol;
        reascriptLink.href = '/reascript?name=' + name + '&host=' + host + '&protocol=' + protocol;
      });
    </script>
  </body>
</html>
