<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="https://techaud.io/">
      <img src="/static/img/tech-audio-logo.png" alt="Tech Audio">
    </a>
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="/reaspeech">ReaSpeech</a>
      </li>
      {% if docs_url != '': %}
      <li class="nav-item">
        <a class="nav-link" href="/docs">Whisper API</a>
      </li>
      {% endif %}
    </ul>
  </div>
</nav>
